{% extends "base.html" %}

{% block body %}

<form class="row g-3 needs-validation"  method="POST" action="mensajes" novalidate>  {% csrf_token %}
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Mes a realizar</label>
        <input type="text" class="form-control" id="validationCustom01" value="" name="mes" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Generar mensajes</button>
    </div>
</form>


{% endblock %}